<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Description" content="This is good website">
    <meta name="author" content="Nagendra">
    <meta name="keywords" content="Flask Tutorials">
    <meta name="viewport" content="Width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <!--
    <link rel="stylesheet" href="static/css/main.css">
    -->
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}

</body>
</html>